doctype html
html.no-js(lang='zh-cn')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        link(rel='shortcut icon', type='image/x-icon', href='../favicon.ico')
        //if lt IE 9
            script(src='../js/tools/modernizr.min.js')
        link(rel='stylesheet', href='../css/blog-common.css')
        link(rel='stylesheet', href='../css/blog.css')
        title= title
        script(src='../js/sea.js')
        script(src='../js/config/config.js')
    body
        header.head
            .inner
                a.logo(href='javascript:;')
                    img(src='../images/logo.png', alt='')
                    canvas#logo_can(width='185', height='47')
                nav#nav.nav
                    ul
                        li
                            a(href='') 首页
                        li.cuurent
                            a(href='about_me.html') 关于我
                        li
                            a(href='allblog.html') 文章
                        li
                            a(href='everyday.html') 心情
                        li
                            a(href='') 相册
                        li
                            a(href='') 留言
                    span#textbg
        .body
            .inner
                .me_nav
                    a()|#{categary}
                    - if(next)
                      span|下一篇:
                        a(href=next.id)|#{next.name}
                    - if(prev)
                      span|上一篇:
                        a(href=prev.id)|#{prev.name}
                        //-n像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。
                .left
                    section.art-content#article
                        h2.art-title= title
                        p.art-moreinfo
                            span.art-author| 作者:
                                a(href=sorce target="_blank")|#{author}
                            span.pubtime| 发布时间:#{pubtime}
                            span.readnum| 阅读量(#{readnum})
                        div.art-body
                            |!{html}


                .right
                    section.weimail
                    //-
                        h3 关注我
                        .wm_box
                            ul
                                li
                                    a(href='javascript:;') 新浪微博
                                li
                                    a(href='javascript:;') 新浪微博
                                li
                                    a(href='javascript:;') 新浪微博
                                li
                                    a(href='javascript:;') 新浪微博
                    section.ad300_100
                        img(src='../images/a1.jpg', alt='')
                    section.ranking
                        .rank_tab
                            a.active(href='') 点击排行
                            a(href='') 最新文章
                            a(href='') 站长推荐
                        .rank_content
                            .rank_content_tab
                                ul
                                    li
                                        i.top.t1 1
                                        a(href='/', target='_blank') 住在手机里的朋友
                                    li
                                        i.top.t2 2
                                        a(href='/', target='_blank') 教你怎样用欠费手机拨打电话
                                    li
                                        i.top.t3 3
                                        a(href='/', target='_blank') 原来以为，一个人的勇敢是，删掉他的手机号码...
                                    li
                                        i.top.t4 4
                                        a(href='/', target='_blank') 手机的16个惊人小秘密，据说99.999%的人都不知
                                    li
                                        i.top.t5 5
                                        a(href='/', target='_blank') 你面对的是生活而不是手机
                                    li
                                        i.top.t6 6
                                        a(href='/', target='_blank') 豪雅手机正式发布! 在法国全手工打造的奢侈品
                            .rank_content_tab.disN
                                ul
                                    li
                                        a(href='/', target='_blank') 原来以为，一个人的勇敢是，删掉他的手机号码...
                                    li
                                        a(href='/', target='_blank') 手机的16个惊人小秘密，据说99.999%的人都不知
                                    li
                                        a(href='/', target='_blank') 住在手机里的朋友
                                    li
                                        a(href='/', target='_blank') 教你怎样用欠费手机拨打电话
                                    li
                                        a(href='/', target='_blank') 你面对的是生活而不是手机
                                    li
                                        a(href='/', target='_blank') 豪雅手机正式发布! 在法国全手工打造的奢侈品
                            .rank_content_tab.disN
                                ul
                                    li
                                        a(href='/', target='_blank') 手机的16个惊人小秘密，据说99.999%的人都不知
                                    li
                                        a(href='/', target='_blank') 你面对的是生活而不是手机
                                    li
                                        a(href='/', target='_blank') 住在手机里的朋友
                                    li
                                        a(href='/', target='_blank') 豪雅手机正式发布! 在法国全手工打造的奢侈品
                                    li
                                        a(href='/', target='_blank') 教你怎样用欠费手机拨打电话
                                    li
                                        a(href='/', target='_blank') 原来以为，一个人的勇敢是，删掉他的手机号码...
                    section.personal_label
                        h3 标签云
                        .label_box
                            span 个人博客
                            span web开发
                            span 前端
                            span HTML5
                            span CSS3
                            span 网页设计
                            span 标签
                            span 标签
                            span JavsScript
                            span PHP
                            span JAVA
                    section.suggest
                        h3 图文推荐
                        ul
                            li
                                a.media_left(href='')
                                    img(src='../images/01.jpg', alt='')
                                .media_right
                                    p.sug_title
                                        a(href='') 住在手机里的朋友
                                    p
                                        span.sug_type 手机
                                        span.sug_time 2015-12-12
                            li
                                a.media_left(href='')
                                    img(src='../images/01.jpg', alt='')
                                .media_right
                                    p.sug_title
                                        a(href='') 住在手机里的朋友
                                    p
                                        span.sug_type 手机
                                        span.sug_time 2015-12-12
                            li
                                a.media_left(href='')
                                    img(src='../images/01.jpg', alt='')
                                .media_right
                                    p.sug_title
                                        a(href='') 住在手机里的朋友
                                    p
                                        span.sug_type 手机
                                        span.sug_time 2015-12-12
                            li
                                a.media_left(href='')
                                    img(src='../images/01.jpg', alt='')
                                .media_right
                                    p.sug_title
                                        a(href='') 住在手机里的朋友
                                    p
                                        span.sug_type 手机
                                        span.sug_time 2015-12-12
                    section.friend_link
                        h3
                            | 友情链接
                            a(href='') [申请友情连接]
                        .link_box
                            a(href='') 友情链接
                            a(href='') 友情链接
                            a(href='') 友情链接
                            a(href='') 友情链接
                            a(href='') 友情链接
                            a(href='') 友情链接
                            a(href='') 友情链接
        .foot
            ul.link_list
                li
                    a(href='##') Power By NodeJS
                li
                    a(href='##') 底部链接
                li
                    a(href='##') 底部链接
                li
                    a(href='##') 底部链接
                li
                    a(href='##')  Copyright © 2015-2016 . All Rights Reserved
    script.
        seajs.use(['common']);